.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#image {
    background-color: white;
    grid-column: 1/2;
    grid-row: 1/3;
}
#shade {
    background-color: lightgray;
    grid-column: 2/4;
}
img {
    width: 100%;
}
h1 {
    font-size: 1500%;
    justify-self: center;
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    font-size: 750%;
    color: maroon;
    position: absolute;
    justify-self: right;
    margin-top: 35%;
    margin-right: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}